<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />
    <uses-feature android:name="android.software.car.templates_host"
        android:required="true"/>

    <!--features not required-->
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.car.permission.PERMISSION_ENERGY_PORTS"/>

    <uses-permission android:name="android.car.permission.PERMISSION_ENERGY"/>

    <uses-permission android:name="android.car.permission.CONTROL_CAR_ENERGY"/>

    <application
        android:allowBackup="true"
        android:appCategory="audio"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChargingApp" >

        <meta-data android:name="com.android.automotive"
            android:resource="@xml/automotive_app_desc"/>

        <meta-data android:name="androidx.car.app.minCarApiLevel"
            android:value="1"/>
        
        <activity android:name="com.example.chargingapp.ui.ChargingHomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>